body{
    margin: 0;
    padding: 0;
    background-image: url("Images/background1.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    
}

.bottom-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 10%;
}

.input-container{
    width:100%;
    max-width: 600px;
    position: relative;
}

input{
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    box-sizing: border-box;
}


#submit-icon{
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    size: 1cm;
}

.images-section{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    padding-top: 50px;
}

.image-container{
    width: 48%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.image-container img{
    width: 100%;
}